extends ../../layouts/default.pug
include ../../mixins/product-filter
include ../../mixins/product-search
include ../../mixins/pagination
include ../../mixins/form-change-multi
block main 
      // main-content-start
      .main-content
        .row
          .col-md-12
            .table-wrapper
              .table-title
                .row
                  .col-sm-6.p-0.d-flex.justify-content-lg-start.justify-content-center
                    h2.ms-lg-2
                      | Quản lý
                      | sản phẩm
                  .col-sm-6.p-0.d-flex.justify-content-lg-end.justify-content-center
                    a.btn.btn-success(href="#", data-bs-toggle="modal", data-bs-target="#addProductModal")
                      i.material-icons &#xE147;
                      span Thêm sản phẩm
                    a.btn.btn-danger(href="#", data-bs-toggle="modal", data-bs-target="#deleteAllEmployeeModal")
                      i.material-icons &#xE15C;
                      span
                        | Xóa sản phẩm 
                .row 
                  hr.mt-2
                  h2.text-center Bộ lọc và tìm kiếm
                .row 
                  .col-sm-6.py-2.d-flex.justify-content-lg-start.justify-content-center
                    +product-filter(productFilter)
                    
                  .col-sm-6.py-2.d-flex.justify-content-lg-end.justify-content-center
                    +product-search(title)
                .row 
                  +form-change-multi(`${prefixAdmin}/products/change-multi?_method=PATCH`)




              table.table.table-striped.table-hover
                thead
                  tr
                    th(style="display:flex")
                      span.custom-checkbox
                        input#selectAll(type="checkbox", select-all-checkbox)
                        label(for="selectAll") 
                      span All
                    th STT
                    th Hình ảnh
                    th Tiêu đề
                    th Giá
                    th Trạng thái 
                    th Hành động
                tbody
                    each product,index in products
                        tr
                            td
                                span.custom-checkbox
                                    input(type="checkbox", name="option[]", value="1", id=`checkbox-${product.id}`,checkbox_product_button, product-id = product.id)
                                    label(for=`checkbox-${product.id}`)
                            td #{pagination.limit*(pagination.currentPage-1)+index+1}
                            td 
                                img(src=product.thumbnail, alt="",style ="width:60px;border-radius:20%")
                            td #{product.title}
                            td #{product.price}$
                            td 
                                if product.status == "active"
                                    button(class="bg-success",style="color:white", data-status="active", data-id=product.id, button-change-status) Hoạt động
                                else 
                                    button(class="bg-danger",style="color:white", data-status="inactive", data-id=product.id, button-change-status) Ngừng Hoạt động
                            td
                                a.edit(href="#", data-bs-toggle="modal", data-bs-target="#editProductModal")
                                    i.material-icons(data-bs-toggle="tooltip", title="Edit") &#xE254;
                                a.delete(href="#", data-bs-toggle="modal", data-bs-target="#deleteEmployeeModal")
                                    i.material-icons(data-bs-toggle="tooltip", title="Delete") &#xE872;
              +pagination(pagination)
              form(action, method="POST",data-path=`${prefixAdmin}/products/change-status`,form-change-status)   
              include ../../partials/modals.pug
                
      // main-content-end
      script(src="/admin/js/product.js") 