extends ../../layouts/default.pug
include ../../mixins/box-head.pug
block main 
  section(style='background-color: #eee;')
    .container-lg.py-5
      +box-head(pageTitle)
      .row.gy-4
        each item in products
          .col-md-6.col-lg-4.mb-4.mb-md-0
            .card
              .d-flex.justify-content-between.p-3
                p.lead.mb-0 Discount
                .bg-info.rounded-circle.d-flex.align-items-center.justify-content-center.shadow-1-strong(style='width: 35px; height: 35px;')
                  p.text-white.mb-0.small #{item.discountPercentage}
              img.card-img-top(src=item.thumbnail alt='Laptop')
              .card-body
                .d-flex.justify-content-between
                  p.small
                    a.text-muted(href='#!') #{item.category}
                  p.small.text-danger
                    s #{item.price}
                .d-flex.justify-content-between.mb-3
                  h5.mb-0 #{item.title}
                  h5.text-dark.mb-0 #{(item.price * (100 - item.discountPercentage) / 100).toFixed(2)}
                .d-flex.justify-content-between.mb-2
                  p.text-muted.mb-0
                    | Available: 
                    span.fw-bold #{item.stock}
                  button.btn.btn-primary(type='button') Buy now




